#line{
  border: solid white 2px;
}
footer{
  border-top: solid white 2px;
  min-height: 400px;
}
#end
{
  min-height: 400px;
  border-top: solid white 2px;
}
header{
  border-bottom: solid white 2px;
  max-height: 200px;
}
